<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>鲜果味道</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE-9">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="mobile-web-app-capable" content="no"> 
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <link rel="shortcut icon" href="/favicon.ico" >
    <link rel="apple-touch-icon" sizes="76x76" href="/misc/style/webIcon.png" />  
    <link rel="apple-touch-icon" sizes="152x152" href="/misc/style/webIcon.png" />  
    <link rel="apple-touch-icon" sizes="120x120" href="/misc/style/webIcon.png" />    
    <link rel="apple-touch-icon" sizes="180x180" href="/misc/style/webIcon.png" />  
    <link type="image/x-icon" rel="Shortcut Icon" href="/misc/style/webIcon.png">

    <!-- Bootstrap -->
    <link href="/misc/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/misc/css/style.css">
	
    <script src="/misc/js/jquery-1.11.0.min.js"></script>
    <script src="/misc/js/checklogin.js"></script>
    <!--[if lt IE 9]>
    <script src="/misc/js/html5shiv.min.js"></script>
    <![endif]-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/misc/js/require.js" data-main="/misc/style/main"></script>
	<script src="/misc/js/dsp-zz.js"></script>
    <script src="/misc/js/prefixfree.min.js"></script>

  </head>
<body>
	<a onclick="goWxPay();">去支付</a>
	<a onclick="doWxPay();">弹框支付</a>
	<script type="text/javascript">
		function goWxPay(){
			$.ajax({
				type:"POST",
				url:"/wxpay/pay",
				data: {
					orderId: 1000079,
					orderPayType : 1
				},
				dataType: "json",
				success:function(data){
					alert(data.success);
					alert(data.resultMessage);
    				wx.chooseWXPay({
						appId : data.result.appId,
                        timestamp: data.result.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                        nonceStr: data.result.nonceStr, // 支付签名随机串，不长于 32 位
                        package: data.result.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                        signType: data.result.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                        paySign: data.result.paySign, // 支付签名
                        success: function (res) {
                            // 支付成功后的回调函数
							alert("支付成功");
                        }
                    });
				}
			});
		}
		
		function doWxPay(){
			wx.chooseWXPay({
				appId:"wx1845cbfdc233b86b",
                timestamp: "1448461943", // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                nonceStr: "xianguoweidao", // 支付签名随机串，不长于 32 位
                package: "prepay_id=wx20151125223223abd693bb290073627655", // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                signType: "MD5", // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                paySign: "710dc6c2e50364faa6e38888bcf4e9ae", // 支付签名
                success: function (res) {
                    // 支付成功后的回调函数
					alert("支付成功");
                }
            });
		}
		
	</script>
	
<script src="/misc/style/user/orders.js"></script>

</body>
</html>