<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
	
    <!-- sqlSession工厂Bean -->
    <bean id="resellSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="demoDataSource"/>
        <property name="mapperLocations" value="classpath:sqlmap/mapper/*.xml"/>
        <property name="typeAliasesPackage" value="com.jd.scf.core.domain"/>
        <property name="configLocation" value="classpath:sqlmap/mybatis-configuration.xml"/>
    </bean>
    <!-- mapperScanner，普通扫描类 -->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer" autowire="no">
        <property name="basePackage" value="com.jd.scf.core.dao"/>
        <property name="sqlSessionFactoryBeanName" value="resellSqlSessionFactory"/>
    </bean>

    <!-- sqlSession模板，1代表批量操作 -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="resellSqlSessionFactory"/>
        <constructor-arg index="1" value="BATCH"/>
    </bean>

</beans>