<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{paymentBindbankcard.id}</td>
		<td>merCustId:</td>
		<td>$!{paymentBindbankcard.merCustId}</td>
	</tr>
	<tr>
		<td>venderUserId:</td>
		<td>$!{paymentBindbankcard.venderUserId}</td>
		<td>usrBusiAgreementId:</td>
		<td>$!{paymentBindbankcard.usrBusiAgreementId}</td>
	</tr>
	<tr>
		<td>usrPayAgreementId:</td>
		<td>$!{paymentBindbankcard.usrPayAgreementId}</td>
		<td>mobile:</td>
		<td>$!{paymentBindbankcard.mobile}</td>
	</tr>
	<tr>
		<td>bank:</td>
		<td>$!{paymentBindbankcard.bank}</td>
		<td>bankAc:</td>
		<td>$!{paymentBindbankcard.bankAc}</td>
	</tr>
	<tr>
		<td>branch:</td>
		<td>$!{paymentBindbankcard.branch}</td>
		<td>branchAc:</td>
		<td>$!{paymentBindbankcard.branchAc}</td>
	</tr>
	<tr>
		<td>bankAcLast4:</td>
		<td>$!{paymentBindbankcard.bankAcLast4}</td>
		<td>branchAcLast4:</td>
		<td>$!{paymentBindbankcard.branchAcLast4}</td>
	</tr>
	<tr>
		<td>identityType:</td>
		<td>$!{paymentBindbankcard.identityType}</td>
		<td>identityCode:</td>
		<td>$!{paymentBindbankcard.identityCode}</td>
	</tr>
	<tr>
		<td>cardHolder:</td>
		<td>$!{paymentBindbankcard.cardHolder}</td>
		<td>createDate:</td>
		<td>$!{paymentBindbankcard.createDate}</td>
	</tr>
	<tr>
		<td>updateDate:</td>
		<td colspan="3">$!{paymentBindbankcard.updateDate}</td>
	</tr>
</table>
