<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>balanceId:</td>
		<td>$!{balanceInfo.balanceId}</td>
		<td>venderUserId:</td>
		<td>$!{balanceInfo.venderUserId}</td>
	</tr>
	<tr>
		<td>oughtPayMoney:</td>
		<td>$!{balanceInfo.oughtPayMoney}</td>
		<td>payDate:</td>
		<td>$!{balanceInfo.payDate}</td>
	</tr>
	<tr>
		<td>balanceMoneyFact:</td>
		<td>$!{balanceInfo.balanceMoneyFact}</td>
		<td>balanceDateEnd:</td>
		<td>$!{balanceInfo.balanceDateEnd}</td>
	</tr>
	<tr>
		<td>balanceDateStart:</td>
		<td>$!{balanceInfo.balanceDateStart}</td>
		<td>orderMoneyAll:</td>
		<td>$!{balanceInfo.orderMoneyAll}</td>
	</tr>
	<tr>
		<td>paymentGoods:</td>
		<td>$!{balanceInfo.paymentGoods}</td>
		<td>commission:</td>
		<td>$!{balanceInfo.commission}</td>
	</tr>
	<tr>
		<td>balanceMoney:</td>
		<td>$!{balanceInfo.balanceMoney}</td>
		<td>balanceStatus:</td>
		<td>$!{balanceInfo.balanceStatus}</td>
	</tr>
	<tr>
		<td>reason:</td>
		<td>$!{balanceInfo.reason}</td>
		<td>created:</td>
		<td>$!{balanceInfo.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td colspan="3">$!{balanceInfo.modified}</td>
	</tr>
</table>
