<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>iD:</td>
		<td>$!{sellerBookkeeping.iD}</td>
		<td>venderUserId:</td>
		<td>$!{sellerBookkeeping.venderUserId}</td>
	</tr>
	<tr>
		<td>tradeMoney:</td>
		<td>$!{sellerBookkeeping.tradeMoney}</td>
		<td>paymentMoney:</td>
		<td>$!{sellerBookkeeping.paymentMoney}</td>
	</tr>
	<tr>
		<td>linkman:</td>
		<td>$!{sellerBookkeeping.linkman}</td>
		<td>mobile:</td>
		<td>$!{sellerBookkeeping.mobile}</td>
	</tr>
	<tr>
		<td>remark:</td>
		<td>$!{sellerBookkeeping.remark}</td>
		<td>created:</td>
		<td>$!{sellerBookkeeping.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{sellerBookkeeping.modified}</td>
		<td>itemName:</td>
		<td>$!{sellerBookkeeping.itemName}</td>
	</tr>
	<tr>
		<td>itemPrice:</td>
		<td>$!{sellerBookkeeping.itemPrice}</td>
		<td>companyName:</td>
		<td>$!{sellerBookkeeping.companyName}</td>
	</tr>
</table>
