<form name="smsUpdateForm" action="/sms/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td>iD:</td>
			<td><input type="text" name="iD" value="$!{sms.iD}" placeholder="iD" readonly/></td>
			<td>mobile:</td>
			<td><input type="text" name="mobile" value="$!{sms.mobile}" placeholder="mobile"/></td>
		</tr>
		<tr>
			<td>content:</td>
			<td><input type="text" name="content" value="$!{sms.content}" placeholder="content"/></td>
			<td>status:</td>
			<td><input type="text" name="status" value="$!{sms.status}" placeholder="status"/></td>
		</tr>
		<tr>
			<td>created:</td>
			<td><input type="text" name="created" value="$!{sms.created}" placeholder="created"/></td>
			<td>modified:</td>
			<td><input type="text" name="modified" value="$!{sms.modified}" placeholder="modified"/></td>
		</tr>
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=smsUpdateForm]').submit()">保存更改</button>
</div>