<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>promotionId:</td>
		<td>$!{promotionInfo.promotionId}</td>
		<td>promotionName:</td>
		<td>$!{promotionInfo.promotionName}</td>
	</tr>
	<tr>
		<td>itemId:</td>
		<td>$!{promotionInfo.itemId}</td>
		<td>venderUserId:</td>
		<td>$!{promotionInfo.venderUserId}</td>
	</tr>
	<tr>
		<td>promotionType:</td>
		<td>$!{promotionInfo.promotionType}</td>
		<td>startTime:</td>
		<td>$!{promotionInfo.startTime}</td>
	</tr>
	<tr>
		<td>endTime:</td>
		<td>$!{promotionInfo.endTime}</td>
		<td>purchaseNumberMin:</td>
		<td>$!{promotionInfo.purchaseNumberMin}</td>
	</tr>
	<tr>
		<td>purchaseNumberMax:</td>
		<td>$!{promotionInfo.purchaseNumberMax}</td>
		<td>promotionStock:</td>
		<td>$!{promotionInfo.promotionStock}</td>
	</tr>
	<tr>
		<td>promotionRule:</td>
		<td>$!{promotionInfo.promotionRule}</td>
		<td>promotionStatus:</td>
		<td>$!{promotionInfo.promotionStatus}</td>
	</tr>
	<tr>
		<td>yn:</td>
		<td>$!{promotionInfo.yn}</td>
		<td>created:</td>
		<td>$!{promotionInfo.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{promotionInfo.modified}</td>
		<td>discountFlag:</td>
		<td>$!{promotionInfo.discountFlag}</td>
	</tr>
	<tr>
		<td>discountTime:</td>
		<td>$!{promotionInfo.discountTime}</td>
		<td>specialFlag:</td>
		<td>$!{promotionInfo.specialFlag}</td>
	</tr>
	<tr>
		<td>specialTime:</td>
		<td>$!{promotionInfo.specialTime}</td>
		<td>specialProvince:</td>
		<td>$!{promotionInfo.specialProvince}</td>
	</tr>
	<tr>
		<td>specialCity:</td>
		<td>$!{promotionInfo.specialCity}</td>
		<td>specialCounty:</td>
		<td>$!{promotionInfo.specialCounty}</td>
	</tr>
	<tr>
		<td>specialAddress:</td>
		<td colspan="3">$!{promotionInfo.specialAddress}</td>
	</tr>
</table>
