<form name="serviceCategoryUpdateForm" action="/serviceCategory/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td>categoryId:</td>
			<td><input type="text" name="categoryId" value="$!{serviceCategory.categoryId}" placeholder="categoryId" readonly/></td>
			<td>categoryName:</td>
			<td><input type="text" name="categoryName" value="$!{serviceCategory.categoryName}" placeholder="categoryName"/></td>
		</tr>
		<tr>
			<td>categoryLevel:</td>
			<td><input type="text" name="categoryLevel" value="$!{serviceCategory.categoryLevel}" placeholder="categoryLevel"/></td>
			<td>parentCategoryId:</td>
			<td><input type="text" name="parentCategoryId" value="$!{serviceCategory.parentCategoryId}" placeholder="parentCategoryId"/></td>
		</tr>
		<tr>
			<td>sortNumber:</td>
			<td><input type="text" name="sortNumber" value="$!{serviceCategory.sortNumber}" placeholder="sortNumber"/></td>
			<td>yn:</td>
			<td><input type="text" name="yn" value="$!{serviceCategory.yn}" placeholder="yn"/></td>
		</tr>
		<tr>
			<td>created:</td>
			<td><input type="text" name="created" value="$!{serviceCategory.created}" placeholder="created"/></td>
			<td>modified:</td>
			<td><input type="text" name="modified" value="$!{serviceCategory.modified}" placeholder="modified"/></td>
		</tr>
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=serviceCategoryUpdateForm]').submit()">保存更改</button>
</div>