<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{indexPromItem.id}</td>
		<td>promType:</td>
		<td>$!{indexPromItem.promType}</td>
	</tr>
	<tr>
		<td>promName:</td>
		<td>$!{indexPromItem.promName}</td>
		<td>promIntro:</td>
		<td>$!{indexPromItem.promIntro}</td>
	</tr>
	<tr>
		<td>promUrl:</td>
		<td>$!{indexPromItem.promUrl}</td>
		<td>skuId:</td>
		<td>$!{indexPromItem.skuId}</td>
	</tr>
	<tr>
		<td>promImgUrl:</td>
		<td>$!{indexPromItem.promImgUrl}</td>
		<td>itemId:</td>
		<td>$!{indexPromItem.itemId}</td>
	</tr>
	<tr>
		<td>yn:</td>
		<td>$!{indexPromItem.yn}</td>
		<td>sortNum:</td>
		<td>$!{indexPromItem.sortNum}</td>
	</tr>
	<tr>
		<td>created:</td>
		<td>$!{indexPromItem.created}</td>
		<td>modified:</td>
		<td>$!{indexPromItem.modified}</td>
	</tr>
</table>
