<form name="userInfoIncrUpdateForm" action="/userInfoIncr/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td>id:</td>
			<td><input type="text" name="id" value="$!{userInfoIncr.id}" placeholder="id" readonly/></td>
			<td>userId:</td>
			<td><input type="text" name="userId" value="$!{userInfoIncr.userId}" placeholder="userId"/></td>
		</tr>
		<tr>
			<td>status:</td>
			<td><input type="text" name="status" value="$!{userInfoIncr.status}" placeholder="status"/></td>
			<td>created:</td>
			<td><input type="text" name="created" value="$!{userInfoIncr.created}" placeholder="created"/></td>
		</tr>
		<tr>
			<td>modified:</td>
			<td colspan="3"><input type="text" name="modified" value="$!{userInfoIncr.modified}" placeholder="modified"/></td>
		</tr>
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=userInfoIncrUpdateForm]').submit()">保存更改</button>
</div>