<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>itemId:</td>
		<td>$!{item.itemId}</td>
		<td>itemName:</td>
		<td>$!{item.itemName}</td>
	</tr>
	<tr>
		<td>itemType:</td>
		<td>$!{item.itemType}</td>
		<td>categoryId1:</td>
		<td>$!{item.categoryId1}</td>
	</tr>
	<tr>
		<td>categoryId2:</td>
		<td>$!{item.categoryId2}</td>
		<td>categoryId3:</td>
		<td>$!{item.categoryId3}</td>
	</tr>
	<tr>
		<td>categoryId4:</td>
		<td>$!{item.categoryId4}</td>
		<td>venderUserId:</td>
		<td>$!{item.venderUserId}</td>
	</tr>
	<tr>
		<td>itemStatus:</td>
		<td>$!{item.itemStatus}</td>
		<td>autoOnShelfTime:</td>
		<td>$!{item.autoOnShelfTime}</td>
	</tr>
	<tr>
		<td>autoOffShelfTime:</td>
		<td>$!{item.autoOffShelfTime}</td>
		<td>onShelfTime:</td>
		<td>$!{item.onShelfTime}</td>
	</tr>
	<tr>
		<td>offShelfTime:</td>
		<td>$!{item.offShelfTime}</td>
		<td>leastBuy:</td>
		<td>$!{item.leastBuy}</td>
	</tr>
	<tr>
		<td>itemImage:</td>
		<td>$!{item.itemImage}</td>
		<td>ifDeposit:</td>
		<td>$!{item.ifDeposit}</td>
	</tr>
	<tr>
		<td>depositRate:</td>
		<td>$!{item.depositRate}</td>
		<td>originProvince:</td>
		<td>$!{item.originProvince}</td>
	</tr>
	<tr>
		<td>originCity:</td>
		<td>$!{item.originCity}</td>
		<td>originCounty:</td>
		<td>$!{item.originCounty}</td>
	</tr>
	<tr>
		<td>originAddress:</td>
		<td>$!{item.originAddress}</td>
		<td>supplyProvince:</td>
		<td>$!{item.supplyProvince}</td>
	</tr>
	<tr>
		<td>supplyCity:</td>
		<td>$!{item.supplyCity}</td>
		<td>supplyCounty:</td>
		<td>$!{item.supplyCounty}</td>
	</tr>
	<tr>
		<td>weight:</td>
		<td>$!{item.weight}</td>
		<td>differWeight:</td>
		<td>$!{item.differWeight}</td>
	</tr>
	<tr>
		<td>packingType:</td>
		<td>$!{item.packingType}</td>
		<td>packingTypeCustom:</td>
		<td>$!{item.packingTypeCustom}</td>
	</tr>
	<tr>
		<td>length:</td>
		<td>$!{item.length}</td>
		<td>wide:</td>
		<td>$!{item.wide}</td>
	</tr>
	<tr>
		<td>high:</td>
		<td>$!{item.high}</td>
		<td>salesPropertySet:</td>
		<td>$!{item.salesPropertySet}</td>
	</tr>
	<tr>
		<td>yn:</td>
		<td>$!{item.yn}</td>
		<td>created:</td>
		<td>$!{item.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{item.modified}</td>
		<td>unit:</td>
		<td>$!{item.unit}</td>
	</tr>
	<tr>
		<td>ifHaveZjbg:</td>
		<td>$!{item.ifHaveZjbg}</td>
		<td>ifHaveCprz:</td>
		<td>$!{item.ifHaveCprz}</td>
	</tr>
	<tr>
		<td>marketStartTime:</td>
		<td>$!{item.marketStartTime}</td>
		<td>marketEndTime:</td>
		<td>$!{item.marketEndTime}</td>
	</tr>
</table>
