<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{bisinessUserExtCompany.id}</td>
		<td>extId:</td>
		<td>$!{bisinessUserExtCompany.extId}</td>
	</tr>
	<tr>
		<td>companyName:</td>
		<td>$!{bisinessUserExtCompany.companyName}</td>
		<td>busiLiceId:</td>
		<td>$!{bisinessUserExtCompany.busiLiceId}</td>
	</tr>
	<tr>
		<td>leglName:</td>
		<td>$!{bisinessUserExtCompany.leglName}</td>
		<td>legIdCard:</td>
		<td>$!{bisinessUserExtCompany.legIdCard}</td>
	</tr>
	<tr>
		<td>legPicUrl:</td>
		<td>$!{bisinessUserExtCompany.legPicUrl}</td>
		<td>busiLiceProvince:</td>
		<td>$!{bisinessUserExtCompany.busiLiceProvince}</td>
	</tr>
	<tr>
		<td>busiLiceCity:</td>
		<td>$!{bisinessUserExtCompany.busiLiceCity}</td>
		<td>busiLiceCounty:</td>
		<td>$!{bisinessUserExtCompany.busiLiceCounty}</td>
	</tr>
	<tr>
		<td>busiLiceAddr:</td>
		<td>$!{bisinessUserExtCompany.busiLiceAddr}</td>
		<td>companyProvince:</td>
		<td>$!{bisinessUserExtCompany.companyProvince}</td>
	</tr>
	<tr>
		<td>companyCity:</td>
		<td>$!{bisinessUserExtCompany.companyCity}</td>
		<td>companyCounty:</td>
		<td>$!{bisinessUserExtCompany.companyCounty}</td>
	</tr>
	<tr>
		<td>companyAddr:</td>
		<td>$!{bisinessUserExtCompany.companyAddr}</td>
		<td>bankAccountName:</td>
		<td>$!{bisinessUserExtCompany.bankAccountName}</td>
	</tr>
	<tr>
		<td>bankAccountNo:</td>
		<td>$!{bisinessUserExtCompany.bankAccountNo}</td>
		<td>bankBranchName:</td>
		<td>$!{bisinessUserExtCompany.bankBranchName}</td>
	</tr>
	<tr>
		<td>bankBranchNo:</td>
		<td>$!{bisinessUserExtCompany.bankBranchNo}</td>
		<td>bankProvince:</td>
		<td>$!{bisinessUserExtCompany.bankProvince}</td>
	</tr>
	<tr>
		<td>bankCity:</td>
		<td>$!{bisinessUserExtCompany.bankCity}</td>
		<td>bankCounty:</td>
		<td>$!{bisinessUserExtCompany.bankCounty}</td>
	</tr>
	<tr>
		<td>operStartTime:</td>
		<td>$!{bisinessUserExtCompany.operStartTime}</td>
		<td>operEndTime:</td>
		<td>$!{bisinessUserExtCompany.operEndTime}</td>
	</tr>
	<tr>
		<td>companyType:</td>
		<td>$!{bisinessUserExtCompany.companyType}</td>
		<td>busiModel:</td>
		<td>$!{bisinessUserExtCompany.busiModel}</td>
	</tr>
	<tr>
		<td>busiArea:</td>
		<td>$!{bisinessUserExtCompany.busiArea}</td>
		<td>busiLiceDuplication:</td>
		<td>$!{bisinessUserExtCompany.busiLiceDuplication}</td>
	</tr>
	<tr>
		<td>contact:</td>
		<td>$!{bisinessUserExtCompany.contact}</td>
		<td>tel:</td>
		<td>$!{bisinessUserExtCompany.tel}</td>
	</tr>
	<tr>
		<td>orgCode:</td>
		<td>$!{bisinessUserExtCompany.orgCode}</td>
		<td>orgCodeUrl:</td>
		<td>$!{bisinessUserExtCompany.orgCodeUrl}</td>
	</tr>
	<tr>
		<td>taxNum:</td>
		<td>$!{bisinessUserExtCompany.taxNum}</td>
		<td>taxType:</td>
		<td>$!{bisinessUserExtCompany.taxType}</td>
	</tr>
	<tr>
		<td>taxTypeCode:</td>
		<td>$!{bisinessUserExtCompany.taxTypeCode}</td>
		<td>taxRegisCert:</td>
		<td>$!{bisinessUserExtCompany.taxRegisCert}</td>
	</tr>
	<tr>
		<td>generTaxCert:</td>
		<td>$!{bisinessUserExtCompany.generTaxCert}</td>
		<td>isMainland:</td>
		<td>$!{bisinessUserExtCompany.isMainland}</td>
	</tr>
	<tr>
		<td>bankLicenseUrl:</td>
		<td colspan="3">$!{bisinessUserExtCompany.bankLicenseUrl}</td>
	</tr>
</table>
