<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>consigneeId:</td>
		<td>$!{consigneeInfo.consigneeId}</td>
		<td>userId:</td>
		<td>$!{consigneeInfo.userId}</td>
	</tr>
	<tr>
		<td>consigneeName:</td>
		<td>$!{consigneeInfo.consigneeName}</td>
		<td>consigneeProvince:</td>
		<td>$!{consigneeInfo.consigneeProvince}</td>
	</tr>
	<tr>
		<td>consigneeCity:</td>
		<td>$!{consigneeInfo.consigneeCity}</td>
		<td>consigneeCounty:</td>
		<td>$!{consigneeInfo.consigneeCounty}</td>
	</tr>
	<tr>
		<td>consigneeAddress:</td>
		<td>$!{consigneeInfo.consigneeAddress}</td>
		<td>consigneeMobile:</td>
		<td>$!{consigneeInfo.consigneeMobile}</td>
	</tr>
	<tr>
		<td>lastTime:</td>
		<td>$!{consigneeInfo.lastTime}</td>
		<td>created:</td>
		<td>$!{consigneeInfo.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{consigneeInfo.modified}</td>
		<td>defaultConsigneeFlag:</td>
		<td>$!{consigneeInfo.defaultConsigneeFlag}</td>
	</tr>
</table>
