<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>uSERID:</td>
		<td>$!{userInfo.uSERID}</td>
		<td>mobile:</td>
		<td>$!{userInfo.mobile}</td>
	</tr>
	<tr>
		<td>pASSWORD:</td>
		<td>$!{userInfo.pASSWORD}</td>
		<td>uSERTYPE:</td>
		<td>$!{userInfo.uSERTYPE}</td>
	</tr>
	<tr>
		<td>yN:</td>
		<td>$!{userInfo.yN}</td>
		<td>rEGISTERTIME:</td>
		<td>$!{userInfo.rEGISTERTIME}</td>
	</tr>
	<tr>
		<td>rEGISTERIP:</td>
		<td>$!{userInfo.rEGISTERIP}</td>
		<td>lASTLOGINTIME:</td>
		<td>$!{userInfo.lASTLOGINTIME}</td>
	</tr>
	<tr>
		<td>lASTLOGINIP:</td>
		<td>$!{userInfo.lASTLOGINIP}</td>
		<td>cREATED:</td>
		<td>$!{userInfo.cREATED}</td>
	</tr>
	<tr>
		<td>mODIFIED:</td>
		<td>$!{userInfo.mODIFIED}</td>
		<td>nickname:</td>
		<td>$!{userInfo.nickname}</td>
	</tr>
	<tr>
		<td>sex:</td>
		<td>$!{userInfo.sex}</td>
		<td>userLevel:</td>
		<td>$!{userInfo.userLevel}</td>
	</tr>
	<tr>
		<td>province:</td>
		<td>$!{userInfo.province}</td>
		<td>city:</td>
		<td>$!{userInfo.city}</td>
	</tr>
	<tr>
		<td>country:</td>
		<td>$!{userInfo.country}</td>
		<td>email:</td>
		<td>$!{userInfo.email}</td>
	</tr>
	<tr>
		<td>headimgurl:</td>
		<td>$!{userInfo.headimgurl}</td>
		<td>truename:</td>
		<td>$!{userInfo.truename}</td>
	</tr>
	<tr>
		<td>postcode:</td>
		<td>$!{userInfo.postcode}</td>
		<td>address:</td>
		<td>$!{userInfo.address}</td>
	</tr>
	<tr>
		<td>registSource:</td>
		<td colspan="3">$!{userInfo.registSource}</td>
	</tr>
</table>
