<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{receiveAddr.id}</td>
		<td>uid:</td>
		<td>$!{receiveAddr.uid}</td>
	</tr>
	<tr>
		<td>name:</td>
		<td>$!{receiveAddr.name}</td>
		<td>province:</td>
		<td>$!{receiveAddr.province}</td>
	</tr>
	<tr>
		<td>provinceName:</td>
		<td>$!{receiveAddr.provinceName}</td>
		<td>city:</td>
		<td>$!{receiveAddr.city}</td>
	</tr>
	<tr>
		<td>cityName:</td>
		<td>$!{receiveAddr.cityName}</td>
		<td>county:</td>
		<td>$!{receiveAddr.county}</td>
	</tr>
	<tr>
		<td>countyName:</td>
		<td>$!{receiveAddr.countyName}</td>
		<td>address:</td>
		<td>$!{receiveAddr.address}</td>
	</tr>
	<tr>
		<td>mobile:</td>
		<td>$!{receiveAddr.mobile}</td>
		<td>defaultFlag:</td>
		<td>$!{receiveAddr.defaultFlag}</td>
	</tr>
	<tr>
		<td>addrType:</td>
		<td>$!{receiveAddr.addrType}</td>
		<td>created:</td>
		<td>$!{receiveAddr.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td colspan="3">$!{receiveAddr.modified}</td>
	</tr>
</table>
