<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{wxUser.id}</td>
		<td>userId:</td>
		<td>$!{wxUser.userId}</td>
	</tr>
	<tr>
		<td>subscribe:</td>
		<td>$!{wxUser.subscribe}</td>
		<td>openid:</td>
		<td>$!{wxUser.openid}</td>
	</tr>
	<tr>
		<td>nickname:</td>
		<td>$!{wxUser.nickname}</td>
		<td>sex:</td>
		<td>$!{wxUser.sex}</td>
	</tr>
	<tr>
		<td>language:</td>
		<td>$!{wxUser.language}</td>
		<td>city:</td>
		<td>$!{wxUser.city}</td>
	</tr>
	<tr>
		<td>province:</td>
		<td>$!{wxUser.province}</td>
		<td>country:</td>
		<td>$!{wxUser.country}</td>
	</tr>
	<tr>
		<td>headimgurl:</td>
		<td>$!{wxUser.headimgurl}</td>
		<td>subscribeTime:</td>
		<td>$!{wxUser.subscribeTime}</td>
	</tr>
</table>
