<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{promotionProduct.id}</td>
		<td>promotionId:</td>
		<td>$!{promotionProduct.promotionId}</td>
	</tr>
	<tr>
		<td>promotionName:</td>
		<td>$!{promotionProduct.promotionName}</td>
		<td>itemId:</td>
		<td>$!{promotionProduct.itemId}</td>
	</tr>
	<tr>
		<td>venderUserId:</td>
		<td>$!{promotionProduct.venderUserId}</td>
		<td>promotionType:</td>
		<td>$!{promotionProduct.promotionType}</td>
	</tr>
	<tr>
		<td>startTime:</td>
		<td>$!{promotionProduct.startTime}</td>
		<td>endTime:</td>
		<td>$!{promotionProduct.endTime}</td>
	</tr>
	<tr>
		<td>purchaseNumberMin:</td>
		<td>$!{promotionProduct.purchaseNumberMin}</td>
		<td>purchaseNumberMax:</td>
		<td>$!{promotionProduct.purchaseNumberMax}</td>
	</tr>
	<tr>
		<td>promotionStock:</td>
		<td>$!{promotionProduct.promotionStock}</td>
		<td>promotionRule:</td>
		<td>$!{promotionProduct.promotionRule}</td>
	</tr>
	<tr>
		<td>promotionStatus:</td>
		<td>$!{promotionProduct.promotionStatus}</td>
		<td>yn:</td>
		<td>$!{promotionProduct.yn}</td>
	</tr>
	<tr>
		<td>created:</td>
		<td>$!{promotionProduct.created}</td>
		<td>modified:</td>
		<td>$!{promotionProduct.modified}</td>
	</tr>
	<tr>
		<td>discountFlag:</td>
		<td>$!{promotionProduct.discountFlag}</td>
		<td>discountTime:</td>
		<td>$!{promotionProduct.discountTime}</td>
	</tr>
	<tr>
		<td>specialFlag:</td>
		<td>$!{promotionProduct.specialFlag}</td>
		<td>specialTime:</td>
		<td>$!{promotionProduct.specialTime}</td>
	</tr>
</table>
