<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'center',border:false" style="padding:10px;background:#fff;border:1px solid #ccc;">
		<table id="detail_table" class="easyui-propertygrid" style="width:300px" data-options="showGroup:false,scrollbarSize:0"></table>
	</div>
	<div data-options="region:'south',border:false" style="text-align:right;padding:5px 0;">
		<a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:alert('ok')">Ok</a>
		<a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:alert('cancel')">Cancel</a>
	</div>
</div>