<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>propertyId:</td>
		<td>$!{property.propertyId}</td>
		<td>categoryId:</td>
		<td>$!{property.categoryId}</td>
	</tr>
	<tr>
		<td>propertyName:</td>
		<td>$!{property.propertyName}</td>
		<td>propertyType:</td>
		<td>$!{property.propertyType}</td>
	</tr>
	<tr>
		<td>ifMultiSelect:</td>
		<td>$!{property.ifMultiSelect}</td>
		<td>subFlag:</td>
		<td>$!{property.subFlag}</td>
	</tr>
	<tr>
		<td>showType:</td>
		<td>$!{property.showType}</td>
		<td>ifCanCustom:</td>
		<td>$!{property.ifCanCustom}</td>
	</tr>
	<tr>
		<td>sortNumber:</td>
		<td>$!{property.sortNumber}</td>
		<td>yn:</td>
		<td>$!{property.yn}</td>
	</tr>
	<tr>
		<td>created:</td>
		<td>$!{property.created}</td>
		<td>modified:</td>
		<td>$!{property.modified}</td>
	</tr>
</table>
