<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">


	<bean id="skuPriceMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="100001">
					<value>4000</value>
				</entry>
				<entry key="100002">
					<value>3000</value>
				</entry>
			</map>
		</constructor-arg>
	</bean>


</beans>