<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{comment.id}</td>
		<td>skuId:</td>
		<td>$!{comment.skuId}</td>
	</tr>
	<tr>
		<td>itemId:</td>
		<td>$!{comment.itemId}</td>
		<td>userId:</td>
		<td>$!{comment.userId}</td>
	</tr>
	<tr>
		<td>title:</td>
		<td>$!{comment.title}</td>
		<td>content:</td>
		<td>$!{comment.content}</td>
	</tr>
	<tr>
		<td>score:</td>
		<td>$!{comment.score}</td>
		<td>uselessCount:</td>
		<td>$!{comment.uselessCount}</td>
	</tr>
	<tr>
		<td>usefulCount:</td>
		<td>$!{comment.usefulCount}</td>
		<td>advantage:</td>
		<td>$!{comment.advantage}</td>
	</tr>
	<tr>
		<td>disadvantage:</td>
		<td>$!{comment.disadvantage}</td>
		<td>orderId:</td>
		<td>$!{comment.orderId}</td>
	</tr>
	<tr>
		<td>topped:</td>
		<td>$!{comment.topped}</td>
		<td>status:</td>
		<td>$!{comment.status}</td>
	</tr>
	<tr>
		<td>deleted:</td>
		<td>$!{comment.deleted}</td>
		<td>integral:</td>
		<td>$!{comment.integral}</td>
	</tr>
	<tr>
		<td>ip:</td>
		<td>$!{comment.ip}</td>
		<td>sortNumber:</td>
		<td>$!{comment.sortNumber}</td>
	</tr>
	<tr>
		<td>created:</td>
		<td>$!{comment.created}</td>
		<td>modified:</td>
		<td>$!{comment.modified}</td>
	</tr>
	<tr>
		<td>itemName:</td>
		<td>$!{comment.itemName}</td>
		<td>userName:</td>
		<td>$!{comment.userName}</td>
	</tr>
	<tr>
		<td>categoryId1:</td>
		<td>$!{comment.categoryId1}</td>
		<td>categoryName1:</td>
		<td>$!{comment.categoryName1}</td>
	</tr>
	<tr>
		<td>categoryId2:</td>
		<td>$!{comment.categoryId2}</td>
		<td>categoryName2:</td>
		<td>$!{comment.categoryName2}</td>
	</tr>
	<tr>
		<td>categoryId3:</td>
		<td>$!{comment.categoryId3}</td>
		<td>categoryName3:</td>
		<td>$!{comment.categoryName3}</td>
	</tr>
	<tr>
		<td>categoryId4:</td>
		<td>$!{comment.categoryId4}</td>
		<td>categoryName4:</td>
		<td>$!{comment.categoryName4}</td>
	</tr>
</table>
