<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{commentReply.id}</td>
		<td>commentId:</td>
		<td>$!{commentReply.commentId}</td>
	</tr>
	<tr>
		<td>parentId:</td>
		<td>$!{commentReply.parentId}</td>
		<td>content:</td>
		<td>$!{commentReply.content}</td>
	</tr>
	<tr>
		<td>userId:</td>
		<td>$!{commentReply.userId}</td>
		<td>deleted:</td>
		<td>$!{commentReply.deleted}</td>
	</tr>
	<tr>
		<td>ip:</td>
		<td>$!{commentReply.ip}</td>
		<td>created:</td>
		<td>$!{commentReply.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td colspan="3">$!{commentReply.modified}</td>
	</tr>
</table>
