<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>orderId:</td>
		<td>$!{orderInfo.orderId}</td>
		<td>orderType:</td>
		<td>$!{orderInfo.orderType}</td>
	</tr>
	<tr>
		<td>paymentType:</td>
		<td>$!{orderInfo.paymentType}</td>
		<td>paymentId:</td>
		<td>$!{orderInfo.paymentId}</td>
	</tr>
	<tr>
		<td>venderUserId:</td>
		<td>$!{orderInfo.venderUserId}</td>
		<td>userId:</td>
		<td>$!{orderInfo.userId}</td>
	</tr>
	<tr>
		<td>consigneeName:</td>
		<td>$!{orderInfo.consigneeName}</td>
		<td>consigneeProvince:</td>
		<td>$!{orderInfo.consigneeProvince}</td>
	</tr>
	<tr>
		<td>consigneeCity:</td>
		<td>$!{orderInfo.consigneeCity}</td>
		<td>consigneeCounty:</td>
		<td>$!{orderInfo.consigneeCounty}</td>
	</tr>
	<tr>
		<td>consigneeAddress:</td>
		<td>$!{orderInfo.consigneeAddress}</td>
		<td>consigneeMobile:</td>
		<td>$!{orderInfo.consigneeMobile}</td>
	</tr>
	<tr>
		<td>remark:</td>
		<td>$!{orderInfo.remark}</td>
		<td>orderMoney:</td>
		<td>$!{orderInfo.orderMoney}</td>
	</tr>
	<tr>
		<td>discountMoney:</td>
		<td>$!{orderInfo.discountMoney}</td>
		<td>discountInfo:</td>
		<td>$!{orderInfo.discountInfo}</td>
	</tr>
	<tr>
		<td>orderTime:</td>
		<td>$!{orderInfo.orderTime}</td>
		<td>payTime:</td>
		<td>$!{orderInfo.payTime}</td>
	</tr>
	<tr>
		<td>hopeArrivalTime:</td>
		<td>$!{orderInfo.hopeArrivalTime}</td>
		<td>sendOutTime:</td>
		<td>$!{orderInfo.sendOutTime}</td>
	</tr>
	<tr>
		<td>estimateSendOutTime:</td>
		<td>$!{orderInfo.estimateSendOutTime}</td>
		<td>telephoneCallTime:</td>
		<td>$!{orderInfo.telephoneCallTime}</td>
	</tr>
	<tr>
		<td>finishTime:</td>
		<td>$!{orderInfo.finishTime}</td>
		<td>orderStatus:</td>
		<td>$!{orderInfo.orderStatus}</td>
	</tr>
	<tr>
		<td>ip:</td>
		<td>$!{orderInfo.ip}</td>
		<td>lockStatus:</td>
		<td>$!{orderInfo.lockStatus}</td>
	</tr>
	<tr>
		<td>lockReason:</td>
		<td>$!{orderInfo.lockReason}</td>
		<td>created:</td>
		<td>$!{orderInfo.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{orderInfo.modified}</td>
		<td>parentOrderId:</td>
		<td>$!{orderInfo.parentOrderId}</td>
	</tr>
	<tr>
		<td>yn:</td>
		<td colspan="3">$!{orderInfo.yn}</td>
	</tr>
</table>
