<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{orderDetail.id}</td>
		<td>orderId:</td>
		<td>$!{orderDetail.orderId}</td>
	</tr>
	<tr>
		<td>uid:</td>
		<td>$!{orderDetail.uid}</td>
		<td>skuId:</td>
		<td>$!{orderDetail.skuId}</td>
	</tr>
	<tr>
		<td>itemId:</td>
		<td>$!{orderDetail.itemId}</td>
		<td>itemName:</td>
		<td>$!{orderDetail.itemName}</td>
	</tr>
	<tr>
		<td>salesProperty:</td>
		<td>$!{orderDetail.salesProperty}</td>
		<td>salesPropertyName:</td>
		<td>$!{orderDetail.salesPropertyName}</td>
	</tr>
	<tr>
		<td>price:</td>
		<td>$!{orderDetail.price}</td>
		<td>originalPrice:</td>
		<td>$!{orderDetail.originalPrice}</td>
	</tr>
	<tr>
		<td>num:</td>
		<td>$!{orderDetail.num}</td>
		<td>itemImage:</td>
		<td>$!{orderDetail.itemImage}</td>
	</tr>
	<tr>
		<td>created:</td>
		<td>$!{orderDetail.created}</td>
		<td>modified:</td>
		<td>$!{orderDetail.modified}</td>
	</tr>
	<tr>
		<td>subOrderId:</td>
		<td>$!{orderDetail.subOrderId}</td>
		<td>venderUserId:</td>
		<td>$!{orderDetail.venderUserId}</td>
	</tr>
</table>
