<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{businessUserExt.id}</td>
		<td>userId:</td>
		<td>$!{businessUserExt.userId}</td>
	</tr>
	<tr>
		<td>shopName:</td>
		<td>$!{businessUserExt.shopName}</td>
		<td>shopImage:</td>
		<td>$!{businessUserExt.shopImage}</td>
	</tr>
	<tr>
		<td>status:</td>
		<td>$!{businessUserExt.status}</td>
		<td>bank:</td>
		<td>$!{businessUserExt.bank}</td>
	</tr>
	<tr>
		<td>billOrg:</td>
		<td>$!{businessUserExt.billOrg}</td>
		<td>taxCode:</td>
		<td>$!{businessUserExt.taxCode}</td>
	</tr>
	<tr>
		<td>phone:</td>
		<td>$!{businessUserExt.phone}</td>
		<td>moneyUnion:</td>
		<td>$!{businessUserExt.moneyUnion}</td>
	</tr>
	<tr>
		<td>address:</td>
		<td>$!{businessUserExt.address}</td>
		<td>bankAc:</td>
		<td>$!{businessUserExt.bankAc}</td>
	</tr>
	<tr>
		<td>branch:</td>
		<td>$!{businessUserExt.branch}</td>
		<td>cNAPSCode:</td>
		<td>$!{businessUserExt.cNAPSCode}</td>
	</tr>
	<tr>
		<td>bankProvince:</td>
		<td>$!{businessUserExt.bankProvince}</td>
		<td>bankCity:</td>
		<td>$!{businessUserExt.bankCity}</td>
	</tr>
	<tr>
		<td>bankStatus:</td>
		<td>$!{businessUserExt.bankStatus}</td>
		<td>bankRemark:</td>
		<td>$!{businessUserExt.bankRemark}</td>
	</tr>
	<tr>
		<td>bankCreated:</td>
		<td>$!{businessUserExt.bankCreated}</td>
		<td>bankChecked:</td>
		<td>$!{businessUserExt.bankChecked}</td>
	</tr>
	<tr>
		<td>commision:</td>
		<td>$!{businessUserExt.commision}</td>
		<td>created:</td>
		<td>$!{businessUserExt.created}</td>
	</tr>
	<tr>
		<td>modified:</td>
		<td>$!{businessUserExt.modified}</td>
		<td>ifHaveDeposit:</td>
		<td>$!{businessUserExt.ifHaveDeposit}</td>
	</tr>
	<tr>
		<td>deposit:</td>
		<td>$!{businessUserExt.deposit}</td>
		<td>businessType:</td>
		<td>$!{businessUserExt.businessType}</td>
	</tr>
	<tr>
		<td>supplyProvince:</td>
		<td>$!{businessUserExt.supplyProvince}</td>
		<td>supplyCity:</td>
		<td>$!{businessUserExt.supplyCity}</td>
	</tr>
	<tr>
		<td>supplyCounty:</td>
		<td>$!{businessUserExt.supplyCounty}</td>
		<td>qualificationUrl:</td>
		<td>$!{businessUserExt.qualificationUrl}</td>
	</tr>
</table>
